@charset "utf-8";


@media (max-width: 860px) {

    .come_span {
        display: inline-block;
        width: 62px;
    }

    #form_come,.user_come {
        padding: 10px 0 0 40px;
    }

    #user_name {
        display: block;
        text-decoration: underline;
        border: none;
        position: inherit;
    }

    .item .input_css {
        display: block;
        width: 100%;
        margin-top: 30px;
    }


    .item .submit_css {
        position: inherit;
       margin-top: 30px;
    }

    #serch #movie_come {
        display: block;
        width: 75%;
    }

    table .come_del {
        display: inline-block;
        padding: 0;
        margin-left: 0;
        width: 65px;
    }
}


@media (max-width: 770px) {

    .user_come table {
        padding: 10px 0 0px 0;
    }

    #Youtube {
        font-size: 48px;
        width: 316px;
        position: relative;
        top: -166px;
    }

    .user_come td:nth-child(2) {
        padding: 10px 0 50px 100px;
        width: 500px;
    }

    #serch .item #accessory {
        text-align: right;
        width: 75%;
        margin: 0 auto;
    }

    #logo {
        width: 460px;
        padding: 20px 0 5px 150px;
        margin-left: -96px;
    }

    iframe {
        width: 471px;
        height: 265px;
    }

    #play {    
        cursor: pointer;
        width: 465px;
        position: relative;
            top: 20px;
    }

}

@media (max-width: 570px) {

    #logo {
        width: 400px;
        padding: 29px 0 5px 150px;
        margin-left: -137px;
    }

    .icon {
        width: 80px;
        position: relative;
        top: 14px;
    }

}

@media (max-width: 480px) {

    .user_name {
        position: absolute;
           top: 10px;
           left: -45px;
    }

    #Youtube {
        font-size: 34px;
        width: 231px;
        position: relative;
        top: -107px;
    }

    header {
        height: 70px;
    }

    input[type="submit"]
    {
        border-radius: 0;
        -webkit-box-sizing: content-box;
        -webkit-appearance: button;
        appearance: button;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
    }

    #home {
        background-color: red;
        padding: 0;
    }

    #home #other {
        background-color: white;
        padding: 0;
    }

    #home header{
        background-color: red;
    }

    #home #contents .container,#home #contents #main{
        background-color: black;
        padding: 68px 0 50px 0;
        position: relative;
        top: -68px;
        
    }

    .top_movie {
        position: fixed;
        top: 200px;
        left: 0;
    }

    #logo {
        padding: 15px 0 6px 0px;
        width: 200px;  
        margin-left: 25px;
    }
    
    .icon {
        width: 47px;
        font-size: 30px;
        position: relative;
            top: 13px;
    }

    #menu {
        float: right;
        width: 57px;
        padding:0 10px 0 0;
        cursor: pointer;
        position: relative;
            top: 12px
    }

    #main {
        width: 100%;
    }

    #contents .mainWidth_2 {
        width: 100%;
    }


    h1 {
        font-size: 21px;
    }

    .item {
        width: 50%;
    }

    form {
        margin: 30px 10px;
    }

    #user_data p {
        padding: 0px;
    }

    input[type="submit"]{
       
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 10px;
        cursor: pointer;
        width: 206px;
    }
    
    input[type="submit"]:hover{
       
        font-weight: bold;
        color: #0788D9;
        background-color: white;
        border: 2px solid #0788D9;
    }

   
    input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
    }

    #serch .item p {
        width: 100%;
        padding: 0 10%;
    }

    #serch .img_center {
        margin-left: 0%;
        width: auto;

    }

    #serch #movie_come,#serch #accessory,#serch #user_come {
        padding: 0 10px;
    }

    #serch #movie_come {
        width: 80%;
    }

    #play {
        cursor: pointer;
        width: 316px;
        position: relative;
        top: 20px
    }

    table {
      margin: 0 10px; 
    }

    .user_come td:nth-child(2) {
        padding: 10px 0 61px 0px;
        width: 500px;
    }
    

    .come_user {
        display: inline-block;
        width: 200%;
        position: absolute;
        left: -45px;
    }

    #form_new {
        margin: 30px 10px 0 10px;
    }

    .secret {
        font-size: 10px;
        -webkit-text-security: disc !important;
    }

    #user_come {
        font-size: 13px;
    }

    #logo_del {
        display: block;
        width: 160px;
        margin: 16px auto;
        margin-top: 0;
        position: relative;
        top: 8px;
    }

    #user_data .cancel {
        margin-top: 30px;
    }


    form .dalete {
        display: block;
        color: white;
        font-size: 16px;
        padding: 7px 10px;
        border: #F23D3D 5px solid;
        background-color: #F23D3D;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto;
        width: 206px;
        margin-top: 50px;
    }

    #form_search input[type='submit'] {
        padding: 10px 0px;
        width: 145px;
        margin-top: 10px;
    }

    #user_name {
        font-size: 14px;
        position: relative;
            top: -7px;
    }

   
    .item .submit_css {
        top: 30px;
    }

    #form_come {
        margin-bottom: 50px;
    }
    
    .item h3 {
        font-size: 15px;
    }

    .history_none {
        font-size: 11px;
    }

    .user_come table td:first-child {
        padding: 0;
        width: 70px;
    }

    .user_come table td:nth-of-type(3) {
        padding: 0;
    }

    iframe {
        width: 313px;
        height: 176px;
    }

}

@media (max-width: 350px) {
    
    #Youtube {
        font-size: 31px;
        width: 212px;
        position: relative;
        top: -94px;
    }

    header {
        height: 130px;
    }

    #logo {
        padding: 15px 0 6px 0px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .icon {
        position: inherit;
        margin:13px 15px 10px 0;
    }

    #menu {
        margin:10px 0 10px 0;
        position: relative;
        top: 1px;
    }

    #contents {
        padding-top: 140px;
    }

    #home #nav {
        padding-top: 140px;
    }

    iframe {
        width: 260px;
        height: 147px;
    }

    #play {
        cursor: pointer;
        width: 280px;
        position: relative;
        top: 20px
    }
    
}